* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
   /* background-color: ; */
}

.Container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border-radius: 50px;
    width: 100px;
    height: 25px;
}

.Field {
    width: 450px;
    height: 450px;
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    gap: 1px;
}

.Boxes {
    display: flex;
    background-color: beige;
    height: 150px;
    width: 150px;
    border: solid 2px black;
    border-radius: 5px;
    cursor: pointer;
    margin: 1px;
}